/* not being used currently
#myInput {

    alignment: bottom;
    box-sizing: border-box;
    /*background-image: url('../images/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 10px 8px 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    z-index: 2;
    height: 39px;
}

#myInput:focus {outline: 3px solid #ddd;}
*/

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    z-index: 2;
}

#search {
    right: 340px;
    font-family: "serif";
    color: gray;
    position: absolute;
    z-index: 2;
}

/* Style for the search field */
form.searchbar input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

/* Style for the search button */
form.searchbar button {
    width: 20%;
    padding: 10px;
    background: #666666;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form.searchbar button:hover {
    background: black;
}

/* Clear floats */
form.searchbar::after {
    content: "";
    clear: both;
    display: table;
}

#logout {
    right: 10px;
    position: absolute;
}

#calendar {
    background-color: darkgray;
    /*padding-top: 10px;*/
    position: -webkit-sticky;
    position: sticky;
    top: 78px;
    border-width: 0px;
    z-index: 1;
}
#sticker {
    background-color: darkgray;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#weekdays {
    margin-top: 0px;
    background-color: darkgray;
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
    z-index: 1;
}

#nav_bar{
    padding-bottom: 10px;
    background-color: darkgray;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.btn-primary{
    background: #999999;
    text-align: center;
    width: 250px;
    /*padding-left: 85px;*/
    /*padding-right: 85px;*/
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}