/* not being used currently
#myInput {

    alignment: bottom;
    box-sizing: border-box;
    /*background-image: url('../images/searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 10px 8px 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    z-index: 2;
    height: 39px;
}

#myInput:focus {outline: 3px solid #ddd;}
*/

#search {
    right: 340px;
    font-family: "serif";
    color: gray;
    position: absolute;
    z-index: 2;
}

/* Style for the search field */
form.searchbar input[type=text] {
    padding: 10px;
    font-size: 16px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

/* Style for the search button */
form.searchbar button {
    width: 20%;
    padding: 10px;
    background: #666666;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

form.searchbar button:hover {
    background: black;
}

/* Clear floats */
form.searchbar::after {
    content: "";
    clear: both;
    display: table;
}

#logout {
    right: 10px;
    position: absolute;
}

#calendar {
    background-color: darkgray;
    /*padding-top: 10px;*/
    position: -webkit-sticky;
    position: sticky;
    top: 78px;
    border-width: 0px;
    z-index: 1;
}
#sticker {
    background-color: darkgray;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#weekdays {
    margin-top: 0px;
    background-color: darkgray;
    position: -webkit-sticky;
    position: sticky;
    top: 115px;
    z-index: 1;
}

#nav_bar{
    padding-bottom: 10px;
    background-color: darkgray;
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    z-index: 2;
}

/* not being used currently
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}*/

.btn-primary{
    background: #999999;
    text-align: center;
    width: 250px;
    /*padding-left: 85px;*/
    /*padding-right: 85px;*/
}

.show {display: block;}

#column{
    padding-left: 30px;
}

.form-style-9{
    max-width: 450px;
    background: #ffffff;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.67);
    border-radius: 10px;
    border: 6px solid #de0d1b;
}


.form-style-9-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 20px;
    padding-bottom: 3px;}

.form-style-9 ul{

    padding:0;
    margin:0;
    list-style:none;

}



.form-style-9 ul li{

    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}



.form-style-9 ul li  .field-style{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 3px solid #e0b0b4;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;


}.form-style-9 ul li  .field-style:focus{

     box-shadow: 0 0 5px #e0b0b4;
     border:1px solid #e0b0b4;

 }


.form-style-9 ul li .field-full{
    width: 100%;

}

.form-style-9 ul li textarea{

    width: 106%;
    height: 100px;

}

.form-style-9 ul li .field-try{
    width: 109%;

}

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {

    -moz-box-shadow: inset 0px 1px 0px 0px #bb4c6c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #c99a9e;
    box-shadow: inset 0px 1px 0px 0px #cb5959;
    background-color: #d28d8d;
    border: 1px solid #f7f8f8;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;

}



.form-style-9 label > span{
    width: 100px;

    font-weight: bold;
    font-size: 14px;
    float: left;

    padding-top: 8px;

    padding-right: 5px;

}

/*Form styles */

.form-style-9 ul li input[type="button"]:hover,



.form-style-9 ul li input[type="submit"]:hover {



    background: linear-gradient(to bottom, #c22b2b 5%, #c41d4c 100%);



    background-color: #c9364d;}
