/* UC colours in RGB for Web
UC Red: #CC0011
UC Grey (dark): #666666
UC Grey (mid): #999999
UC Grey (light): #CCCCCC
UC Black: #000000 - which is just black
 */

/*ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999999;
}
li{
    float: left;
}
li a{
    display:block;
    color: white;
    text-align: center;
    padding:30px 16px;
    height: 80px;
    text-decoration: none;
}
li a:hover{
    text-decoration: none;
    color: black;
}
li a:hover:not(.active){
    background-color: #666666;
    color: white;
}
.active {
    background-color: #CC0011;
    text-decoration: none;
    color: white;
}
/*logo looks weird may need to take out*/
/*.logo{
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 80px;
}
div{
    width: 99%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
}
div1{
    width: 60%;
    height: 20%;
    border: 1px solid black;
}
h1{
    font-family: sans-serif;
}
.button{
    background-color: #999999;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #CCCCCC;
    color: white;
}*/

/*styles for table on past & future page*/
th.sticky-header {
    position: sticky;
    top: 0;
    z-index:10;
    background-color:white;
}
table{
    height: 640px;
}
h2{
    padding:10px;
}